{% load static %}
{% load bootstrap4 %}
{% bootstrap_css%}
{% bootstrap_javascript jquery='full' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <title>{% block title %}MY DEFAULT TITLE{% endblock%}</title>
    <link href="{% static "style.css" %}" rel="stylesheet">
</head>
<body>
<header>
    {% if request.user.is_authenticated %}
        Hi {{ request.user.first_name }}
    <a href="{% url "lesson:logout" %}"> logout </a>
    <a href="{% url "lesson:profile" %}"> Profile </a>
    <a href="{% url "lesson:register" %}"> Register </a>
    <a href="{% url "lesson:edit" %}"> Edit </a>
    {% else %}
        <a href="{% url "lesson:login" %}"> login </a>
    {% endif %}
</header>
   <div class="container-flex m-4">
        <div class="row mb-1">
            <div class="col-sm-9 pr-sm-1 pl-sm-0">
                <div class="p-3 border border-primary rounded" >{% block content %}{% endblock %}</div>
            </div>
            <div class="col-sm-3 border border-primary rounded">
                {% block menu %}
                {% endblock %}
            </div>
        </div>

        <div class="row border  border-primary rounded">
            <div class="col-sm-3">
                Белов Максим
            </div>
            <div class="col-sm-6">
                Web development Python
            </div>
            <div class="col-sm-3">
                IT-academy
            </div>
        </div>
    </div>
</body>
</html>