{% load static %}
<!DOCTYPE html>
<html lang="en">
    <title>{% block title %}MY DEFAULT TITLE{% endblock%}</title>
    <link href="{% static "style.css" %}" rel="stylesheet">
</head>
<body>
<header>
    {% if request.user.is_authenticated %}
        Hi {{ request.user.first_name }}
    <a href="{% url "lesson:logout" %}"> logout </a>
    <a href="{% url "lesson:profile" %}"> Profile </a>
    <a href="{% url "lesson:register" %}"> Register </a>
    <a href="{% url "lesson:edit" %}"> Edit </a>
    {% else %}
        <a href="{% url "lesson:login" %}"> login </a>
    {% endif %}
</header>
    {% block content %}
    {% endblock %}
</body>
</html>