{% extends "base.html" %}

{% block title %}Material list{% endblock %}

{% block content %}
<a href="{% url "lesson:all_materials" %}">All Materials</a>
    <h1>{{ material.title}}</h1>
        <p>
            Published {{ material.publish }} by {{ material.author }}
        </p>
        <p>
            {{ material.body|linebreaks}}
        </p>
        <p>
        <a href="{% url "lesson:share_material" material.id %}" >
            Share this post
        </a>
        </p>

        {% with material.comments.all.count as total_comments %}
            <h2>{{ total_comments }} comment{{ total_comments|pluralize}}</h2>
        {% endwith %}
        {% for comment in material.comments.all %}
            <p>comment #{{forloop.counter}} by {{ comment.name }} {{ comment.created }}</p>
            <p>{{ comment.body|linebreaks }}</p>
        {% empty %}
            <p>No comments</p>
        {% endfor %}

        {% if new_comment %}
            <p>comment was created</p>
        {% else %}
            <form action="." method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Box in comments"></p>
            </form>
        {% endif %}
{% endblock%}