{% extends "base.html" %}

{% block title %}{{ lesson.title }}{% endblock %}

{% block content %}
<a href="{% url "lesson:all_lessons" %}">All lessons</a>
    <h1>{{ lesson.title }}</h1>
    <p>
        Notes: <br>
        {{ lesson.notes|linebreaks }}
    </p>
    <p>
        <h4>Materials:</h4>
        {% for material in lesson.materials.all %}
            <a href="{{ material.get_absolute_url }}">{{ material.title }}</a>
            <br>
        {% endfor %}
    </p>
{% endblock %}

{% block menu %}
    <a class="nav-link active" href="{% url "lesson:all_lessons" %}">
        All lessons
    </a>
    Lessons:
    {% for it_lesson in lessons %}
        {% if it_lesson == lesson %}
            <a class="nav-link disabled" href="{{ it_lesson.get_absolute_url }}">
                {{ it_lesson.title }}
            </a>
        {% else %}
            <a class="nav-link active" href="{{ it_lesson.get_absolute_url }}">
                {{ it_lesson.title }}
            </a>
        {% endif %}
    {% endfor %}
{% endblock %}